*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-image: url("./img/univers1.jpg");
    background-size: cover;
    background-position: left;
    
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

.container {
    z-index: 1;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
}
